html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
}
.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.1rem rgb(220 53 69 / 25%);
}

/* React Form Lable */
.form-label {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

:root {
  --black: #000000;
  --black-2: #00000099;
  --cornflower: #9bc6eb;
  --deep-sapphire: #071e70;
  --deep-sapphire-2: #0f2867;
  --deep-sapphire-3: #001e6b;
  --fuzzy-wuzzy: #001c66;
  --grenadier: #de350b;
  --gulf-blue: #021c5f;
  --gulf-blue-2: #071756;
  --jordy-blue: #91b0ff;
  --magic-potion: #071546;
  --mercury: #e4e4e41a;
  --new-car: #2651e7;
  --pale-sky: #6f767d;
  --perano: #b2c8f4;
  --resolution-blue: #0a237f;
  --resolution-blue-2: #022785;
  --ship-cove: #7487c9;
  --ship-cove-2: #7588ca;
  --torea-bay: #0f2c9f;
  --tropical-rain-forest: #00875a;
  --tropical-rain-forest-2: #00875a33;
  --waterloo-: #7b849c;
  --white: #ffffff;
  --white-2: #ffffff1a;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;

  --font-family-alata: "Alata", Helvetica;
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
.inter-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-perano-14px {
  color: var(--perano);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-ship-cove-12px {
  color: var(--ship-cove);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-ship-cove-18px {
  color: var(--ship-cove);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-grenadier-14px {
  color: var(--grenadier);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-jordy-blue-14px {
  color: var(--jordy-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-tropical-rain-forest-14px {
  color: var(--tropical-rain-forest);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-ship-cove-14px {
  color: var(--ship-cove-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-waterloo--14px {
  color: var(--waterloo-);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-ship-cove-14px-2 {
  color: var(--ship-cove);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.alata-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-alata);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-pale-sky-14px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-ship-cove-12px-2 {
  color: var(--ship-cove-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-tropical-rain-forest-12px {
  color: var(--tropical-rain-forest);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-white-14px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-white-18px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-black-18px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-torea-bay-14px {
  color: var(--torea-bay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
